<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'rwg_app/css/styles.css' %}" media="screen" charset="utf-8">
    <title>Document</title>
</head>
<body>

    <p>Random Word (attempt #{{ request.session.count }})</p>
    <p id="randomword">{{ request.session.randomword }}</p>
    <a href="/generate"><button>GENERATE</button></a>
</body>
</html>